@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap&family=Josefin+Slab&family=EB+Garamond&family=Niconne&family=Bree+Serif&family=Itim&family=Caveat&display=swap&family=Baloo+Tammudu+2:wght@500&?family=Mukta:wght@300');

body {
    display: flex;
    justify-content: center;
    color: #607744;
    overflow: hidden;
}

.app-content {

}


.menu-container, .content-container, .menu-item-container, .menu-items, .content-items {
    display:flex;
}

.content-container {
    flex-direction: column;
}

.menu-item-container {
    flex-direction: row;
    border-top: 2px dotted #ccaa22;
    border-bottom: 2px dotted #ccaa22;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item {
    margin: 15px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.content-items {
    margin: 15px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 20px;
}

.content-container {
    display:flex;
}

.plant-menu-item-container, .plant-menu-item {
    display:flex;
}

.plant {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 5px solid #d4d700;
    width: 110px;
    height: 110px;
    margin:10px;
    font-family: 'Baloo Tammudu 2';
    font-size: 1.5em;
    /*animation: opacity 30s;*/
}

.zoomin-container {
    /*animation: opacity;*/
}

.plant-menu-item-container {
    flex-direction: row;
}

.plant-menu-item {
    background-color:#ddccaa;
    padding:10px;
    margin: 2px;
}

.plant-attribs-header {
    font-family: 'Niconne', sans-serif;
    color: #607744;
}

.plant-attribs-content {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plant-attrib-content-main {
    display: flex;
    border-radius: 50px;
    border: 5px solid #BADA55;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-size: contain;
}

.plant-attrib-content-inner {
    font-family: 'Itim', cursive;
    margin: auto;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}