@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap&family=Josefin+Slab&family=EB+Garamond&family=Niconne&family=Bree+Serif&family=Itim&family=Caveat&display=swap&family=Baloo+Tammudu+2:wght@500&?family=Mukta:wght@300&family=Laila&display=swap&family=Fjalla+One');

body {
    display: flex;
    justify-content: center;
    color: #607744;
    overflow: hidden;
    background-image: url('../assets/veg-background.jpg');
    background-repeat: no-repeat;
    background-position: right 10px top 10px;

}
